// https://coolors.co/555358-5f6062-7b7263-61988e-d3d0cb

$davys-grey: #555358;
$granite-grey: #5f6062;
$nickel: #7b7263;
$decyan: #61988e;
$light-grey: #d3d0cb;
$pewter: #595858;
$pink: #df77ef;
$orange: #e8aa40;
$purple: #474789;
$lighter-grey: #ededed;
$light-green: #7bc6b9;
$dark-grey: #3a3a3a;